<!DOCTYPE html>
<htmllang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Book List</title>
</head>
<body>

	<table border="2px" bordercolor="blue" width="100%" height="300px" cellspacing="5px" cellpadding="5">
       
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Author</th>
            <th>Gener</th>
            <th>Price</th>
        </tr>
        
        <tr th:each="book:${bookList}">
            <td th:text="${book.bookId}"></td>
            <td th:text="${book.title}"></td>
            <td>
            	<ol>
            		<li th:each="author: ${book.authors}" th:text="${author.firstname+author.lastname}" ></li>
            	</ol>
            
            </td>
            <td th:text="${book.gener}"></td>
            <td th:text="${book.price}"></td>
        </tr>
        
      
    </table>

</body>

</htmllang>